{% extends 'base.html' %}
{% load static %}

{% block title %}

Rates Page

{% endblock %}

{% block content %}

    <table>
    <tr>
        <th>ID</th>
        <th>Source</th>
        <th>Currency</th>
        <th>Buy</th>
        <th>Sale</th>
        <th>Created</th>
        <th>Create</th>
        <th>Details</th>
        <th>Update </th>
        <th>Delete</th>
    </tr>
    {% for rate in rates %}
    <tr>
        <td>{{ rate.id }}</td>
        <td>{{ rate.source.name }}</td>
        <td>{{ rate.get_currency_display }}</td>
        <td>{{ rate.buy }}</td>
        <td>{{ rate.sale }}</td>
        <td> {{ rate.created }}</td>
        <td><a href='rate_create/'> Create Rate </a> </td>
        <td><a href='rate_details/{{ rate.id }}/'> Rate Details </a> </td>
        <td><a href='rate_update/{{ rate.id }}/'> Update Rate </a> </td>
        <td><a href='rate_delete/{{ rate.id }}/'> Delete Rate </a> </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}



